.get-all-api-container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}


.ant-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.controls {
    margin-bottom: 20px;
}

.table-container {
    max-width: 100%;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: white;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}