/* Optional: To enhance the dropdown and table styling */
.issues-container{
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}
.issues-dropdown{
    margin: 10px;

}
.ant-dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .ant-table {
    margin-top: 20px;
  }
  
  .ant-select {
    min-width: 120px;
  }
  
  .ant-table-scroll .ant-table-body {
    overflow-x: auto;
  }
  .table-container {
    max-width: 100%;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}